body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: powderblue;
}

.grid {
  display: inline-grid;
  border: 2px black solid;
  background-color: black;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: auto;
  padding: 10px;
}

.square {
  background-color: white;
  padding: 15px;
  text-align: center;
}

.square:hover {
  background-color: black;
}

/* .square:nth-child(2) {
  background-color: black;
} */