@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

html {
  font-family: 'Titillium Web', sans-serif;
}

* {
  font-family: inherit;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: powderblue;
}

.header {
  font-size: 48px;
  font-weight: bolder;
  padding: 25px;
}

.grid {
  display: inline-grid;
  border: 2px black solid;
  background-color: black;
  width: 300px;
  height: 300px;
  grid-template-columns: repeat(5, minmax(25px, 1fr));
  grid-template-rows: repeat(5, minmax(25px, 1fr));
  place-items: stretch;
  padding: 10px;
}

.square {
  background-color: white;
  padding: 5px;
  text-align: center;
}

.square:hover {
  background-color: black;
}

/* .square:nth-child(2) {
  background-color: black;
} */